{% extends "base.html" %}

{% block title %}Quiz Categories{% endblock %}

{% block content %}
    <h2>Quiz Categories</h2>
    <a href="/">Home</a>
    <div class="container connect-section">
         <!-- Iterate through each category and display its details -->
        {% for category in categories %}
            <div class="categories-item connect-section">
                <h3>{{ category.category_name }}</h3>
                <p>{{ category.category_description }}</p>

                <!-- Display quizzes for this category -->
                 <ul class="quiz-list">
                    {% for quiz in category.quizzes %}
                        <li class="quiz-item">
                            <a href="{{ url_for('show_quiz', quiz_id=quiz.quiz_id) }}">
                                <h4>{{ quiz.quiz_title }}</h4>
                            </a>
                            <!--<p>{{ quiz.quiz_description }}</p> -->
                        
                        </li>
                    {% endfor %}
                 </ul>


                <!-- Link to view quizzes for the selected category -->
            </div>
        {% endfor %}

    </div>
{% endblock %}