{% extends "base.html" %} 
{% block content %}   

<div class="container">
    <h1>Welcome</h1>
    
    <form id="AuthForm" action="{{url_for('login')}}" method="post">
        <input
            type="text"
            name="username"
            placeholder="username"
            class="input_field"
        />

        <input
            type="password"
            name="password"
            placeholder="Password"
            class="input_field"
        />

        <input 
            type="email" 
            name="email" 
            placeholder="email" 
            class="input_field" 
        />

        <input 
            type="submit" 
            value="Login"
            class="btn btn-login"
            onclick="setActionForm('login')"
        />

        

        <input 
            type="button"
            value="Register"
            class="btn btn-login"
            onclick="setActionForm('register')"
        />


    </form>
</div>


<!-- it will check if the action we clicked is the login button or register button -->
<script>
    function setActionForm(action){
        let form = document.getElementById("AuthForm"); // to target the class in the html

        //what happens if login button is clicked
        if (action === 'login'){
        form.action = "{{url_for('login')}}";
        form.method = 'post';
        form.submit();
        
        //what happens if register button is clicked
        } else if (action === "register") {
        form.action = "{{url_for('register')}}";
        form.method = 'post';
        form.submit();
    }
}
</script>
{% endblock %}