<!-- To make it show in html -->
{% macro show_links() %} 

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Quiz app</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">logout</a>
    </li>
  </ul>

  {% endmacro %} <!-- The macro ends here -->